{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Notion API - Public Beta",
    "description": "Hello and welcome!\n\nTo make use of the Public Beta collection as it's written, please duplicate [this database template](https://www.notion.so/8e2c2b769e1d47d287b9ed3035d607ae?v=dc1b92875fb94f10834ba8d36549bd2a).\n\n[Create an integration](notion.so/my-integrations) to retrieve an API token, add your database and page ID's as variables in the collection, and start making your requests!  \n\nFor our full documentation, including sample integrations and guides, visit [developers.notion.com](developers.notion.com)\n\nNeed more help? Join our [developer community on Slack](https://join.slack.com/t/notiondevs/shared_invite/zt-lkrnk74h-YmPRroySRFGiqgjI193AqA/)"
  },
  "host": "api.notion.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/databases/{id}/query": {
      "post": {
        "summary": "Query a Database",
        "description": "Query a Database",
        "operationId": "QueryADatabase",
        "parameters": [
          {
            "name": "id",
            "default": "{{DATABASE_ID}}",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " 2021-05-13",
            "description": "Notion-Version",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "filter": {
                  "type": "object",
                  "properties": {
                    "or": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "property": {
                            "type": "string",
                            "description": "property"
                          },
                          "select": {
                            "type": "object",
                            "properties": {
                              "equals": {
                                "type": "string",
                                "description": "equals"
                              }
                            },
                            "description": "select"
                          }
                        }
                      },
                      "description": "or"
                    }
                  },
                  "description": "filter"
                },
                "sorts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "property": {
                        "type": "string",
                        "description": "property"
                      },
                      "direction": {
                        "type": "string",
                        "description": "direction"
                      }
                    }
                  },
                  "description": "sorts"
                }
              },
              "default": {
                "filter": {
                  "or": [
                    {
                      "property": "Publisher",
                      "select": {
                        "equals": "NYT"
                      }
                    },
                    {
                      "property": "Publisher",
                      "select": {
                        "equals": "NYT"
                      }
                    }
                  ]
                },
                "sorts": [
                  {
                    "property": "Score /5",
                    "direction": "ascending"
                  }
                ]
              }
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "object"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "object": {
                        "type": "string",
                        "description": "object"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "created_time": {
                        "type": "string",
                        "description": "created_time"
                      },
                      "last_edited_time": {
                        "type": "string",
                        "description": "last_edited_time"
                      },
                      "parent": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "database_id": {
                            "type": "string",
                            "description": "database_id"
                          }
                        },
                        "description": "parent"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "archived"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "Score /5": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "select": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  },
                                  "color": {
                                    "type": "string",
                                    "description": "color"
                                  }
                                },
                                "description": "select"
                              }
                            },
                            "description": "Score /5"
                          },
                          "Type": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "select": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  },
                                  "color": {
                                    "type": "string",
                                    "description": "color"
                                  }
                                },
                                "description": "select"
                              }
                            },
                            "description": "Type"
                          },
                          "Publisher": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "select": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  },
                                  "color": {
                                    "type": "string",
                                    "description": "color"
                                  }
                                },
                                "description": "select"
                              }
                            },
                            "description": "Publisher"
                          },
                          "Summary": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "text": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "type"
                                    },
                                    "text": {
                                      "type": "object",
                                      "properties": {
                                        "content": {
                                          "type": "string",
                                          "description": "content"
                                        },
                                        "link": {
                                          "type": "string",
                                          "description": "link"
                                        }
                                      },
                                      "description": "text"
                                    },
                                    "annotations": {
                                      "type": "object",
                                      "properties": {
                                        "bold": {
                                          "type": "boolean",
                                          "description": "bold"
                                        },
                                        "italic": {
                                          "type": "boolean",
                                          "description": "italic"
                                        },
                                        "strikethrough": {
                                          "type": "boolean",
                                          "description": "strikethrough"
                                        },
                                        "underline": {
                                          "type": "boolean",
                                          "description": "underline"
                                        },
                                        "code": {
                                          "type": "boolean",
                                          "description": "code"
                                        },
                                        "color": {
                                          "type": "string",
                                          "description": "color"
                                        }
                                      },
                                      "description": "annotations"
                                    },
                                    "plain_text": {
                                      "type": "string",
                                      "description": "plain_text"
                                    },
                                    "href": {
                                      "type": "string",
                                      "description": "href"
                                    }
                                  }
                                },
                                "description": "text"
                              }
                            },
                            "description": "Summary"
                          },
                          "Publishing/Release Date": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "date": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "description": "start"
                                  },
                                  "end": {
                                    "type": "string",
                                    "description": "end"
                                  }
                                },
                                "description": "date"
                              }
                            },
                            "description": "Publishing/Release Date"
                          },
                          "Link": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "url": {
                                "type": "string",
                                "description": "url"
                              }
                            },
                            "description": "Link"
                          },
                          "Read": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "checkbox": {
                                "type": "boolean",
                                "description": "checkbox"
                              }
                            },
                            "description": "Read"
                          },
                          "Status": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "select": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  },
                                  "color": {
                                    "type": "string",
                                    "description": "color"
                                  }
                                },
                                "description": "select"
                              }
                            },
                            "description": "Status"
                          },
                          "Author": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "multi_select": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "id"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "name"
                                    },
                                    "color": {
                                      "type": "string",
                                      "description": "color"
                                    }
                                  }
                                },
                                "description": "multi_select"
                              }
                            },
                            "description": "Author"
                          },
                          "Name": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "title": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "type"
                                    },
                                    "text": {
                                      "type": "object",
                                      "properties": {
                                        "content": {
                                          "type": "string",
                                          "description": "content"
                                        },
                                        "link": {
                                          "type": "string",
                                          "description": "link"
                                        }
                                      },
                                      "description": "text"
                                    },
                                    "annotations": {
                                      "type": "object",
                                      "properties": {
                                        "bold": {
                                          "type": "boolean",
                                          "description": "bold"
                                        },
                                        "italic": {
                                          "type": "boolean",
                                          "description": "italic"
                                        },
                                        "strikethrough": {
                                          "type": "boolean",
                                          "description": "strikethrough"
                                        },
                                        "underline": {
                                          "type": "boolean",
                                          "description": "underline"
                                        },
                                        "code": {
                                          "type": "boolean",
                                          "description": "code"
                                        },
                                        "color": {
                                          "type": "string",
                                          "description": "color"
                                        }
                                      },
                                      "description": "annotations"
                                    },
                                    "plain_text": {
                                      "type": "string",
                                      "description": "plain_text"
                                    },
                                    "href": {
                                      "type": "string",
                                      "description": "href"
                                    }
                                  }
                                },
                                "description": "title"
                              }
                            },
                            "description": "Name"
                          }
                        },
                        "description": "properties"
                      }
                    }
                  },
                  "description": "results"
                },
                "next_cursor": {
                  "type": "string",
                  "description": "next_cursor"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "has_more"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pages/{id}": {
      "get": {
        "summary": "Retrieve a Page",
        "description": "Retrieves a Page object using the ID in the request path. This endpoint exposes page properties, not page content. ",
        "operationId": "RetrieveAPage",
        "parameters": [
          {
            "name": "id",
            "default": "{{PAGE_ID}}",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " 2021-05-13",
            "description": "Notion-Version",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "object"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "created_time": {
                  "type": "string",
                  "description": "created_time"
                },
                "last_edited_time": {
                  "type": "string",
                  "description": "last_edited_time"
                },
                "parent": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "type"
                    },
                    "database_id": {
                      "type": "string",
                      "description": "database_id"
                    }
                  },
                  "description": "parent"
                },
                "archived": {
                  "type": "boolean",
                  "description": "archived"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "select": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Type"
                    },
                    "Publisher": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "select": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Publisher"
                    },
                    "Summary": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "text": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "text": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "content"
                                  },
                                  "link": {
                                    "type": "string",
                                    "description": "link"
                                  }
                                },
                                "description": "text"
                              },
                              "annotations": {
                                "type": "object",
                                "properties": {
                                  "bold": {
                                    "type": "boolean",
                                    "description": "bold"
                                  },
                                  "italic": {
                                    "type": "boolean",
                                    "description": "italic"
                                  },
                                  "strikethrough": {
                                    "type": "boolean",
                                    "description": "strikethrough"
                                  },
                                  "underline": {
                                    "type": "boolean",
                                    "description": "underline"
                                  },
                                  "code": {
                                    "type": "boolean",
                                    "description": "code"
                                  },
                                  "color": {
                                    "type": "string",
                                    "description": "color"
                                  }
                                },
                                "description": "annotations"
                              },
                              "plain_text": {
                                "type": "string",
                                "description": "plain_text"
                              },
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            }
                          },
                          "description": "text"
                        }
                      },
                      "description": "Summary"
                    },
                    "Publishing/Release Date": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "date": {
                          "type": "object",
                          "properties": {
                            "start": {
                              "type": "string",
                              "description": "start"
                            },
                            "end": {
                              "type": "string",
                              "description": "end"
                            }
                          },
                          "description": "date"
                        }
                      },
                      "description": "Publishing/Release Date"
                    },
                    "Link": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "Link"
                    },
                    "Read": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "checkbox": {
                          "type": "boolean",
                          "description": "checkbox"
                        }
                      },
                      "description": "Read"
                    },
                    "Status": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "select": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Status"
                    },
                    "Author": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "multi_select": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "color": {
                                "type": "string",
                                "description": "color"
                              }
                            }
                          },
                          "description": "multi_select"
                        }
                      },
                      "description": "Author"
                    },
                    "Name": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "title": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "text": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "content"
                                  },
                                  "link": {
                                    "type": "string",
                                    "description": "link"
                                  }
                                },
                                "description": "text"
                              },
                              "annotations": {
                                "type": "object",
                                "properties": {
                                  "bold": {
                                    "type": "boolean",
                                    "description": "bold"
                                  },
                                  "italic": {
                                    "type": "boolean",
                                    "description": "italic"
                                  },
                                  "strikethrough": {
                                    "type": "boolean",
                                    "description": "strikethrough"
                                  },
                                  "underline": {
                                    "type": "boolean",
                                    "description": "underline"
                                  },
                                  "code": {
                                    "type": "boolean",
                                    "description": "code"
                                  },
                                  "color": {
                                    "type": "string",
                                    "description": "color"
                                  }
                                },
                                "description": "annotations"
                              },
                              "plain_text": {
                                "type": "string",
                                "description": "plain_text"
                              },
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            }
                          },
                          "description": "title"
                        }
                      },
                      "description": "Name"
                    }
                  },
                  "description": "properties"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Page properties ",
        "description": "Updates a page by setting the values of any properties specified in the JSON body of the request. Properties not updated via parameters will remain unchanged. ",
        "operationId": "UpdatePageProperties",
        "parameters": [
          {
            "name": "id",
            "default": "{{PAGE_ID}}",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " 2021-05-13",
            "description": "Notion-Version",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "object",
                      "properties": {
                        "select": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "name"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Status"
                    }
                  },
                  "description": "properties"
                }
              },
              "default": {
                "properties": {
                  "Status": {
                    "select": {
                      "name": "Reading"
                    }
                  }
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "object"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "created_time": {
                  "type": "string",
                  "description": "created_time"
                },
                "last_edited_time": {
                  "type": "string",
                  "description": "last_edited_time"
                },
                "parent": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "type"
                    },
                    "database_id": {
                      "type": "string",
                      "description": "database_id"
                    }
                  },
                  "description": "parent"
                },
                "archived": {
                  "type": "boolean",
                  "description": "archived"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "Score /5": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "select": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Score /5"
                    },
                    "Type": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "select": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Type"
                    },
                    "Publisher": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "select": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Publisher"
                    },
                    "Summary": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "rich_text": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "text": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "content"
                                  },
                                  "link": {
                                    "type": "string",
                                    "description": "link"
                                  }
                                },
                                "description": "text"
                              },
                              "annotations": {
                                "type": "object",
                                "properties": {
                                  "bold": {
                                    "type": "boolean",
                                    "description": "bold"
                                  },
                                  "italic": {
                                    "type": "boolean",
                                    "description": "italic"
                                  },
                                  "strikethrough": {
                                    "type": "boolean",
                                    "description": "strikethrough"
                                  },
                                  "underline": {
                                    "type": "boolean",
                                    "description": "underline"
                                  },
                                  "code": {
                                    "type": "boolean",
                                    "description": "code"
                                  },
                                  "color": {
                                    "type": "string",
                                    "description": "color"
                                  }
                                },
                                "description": "annotations"
                              },
                              "plain_text": {
                                "type": "string",
                                "description": "plain_text"
                              },
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            }
                          },
                          "description": "rich_text"
                        }
                      },
                      "description": "Summary"
                    },
                    "Publishing/Release Date": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "date": {
                          "type": "object",
                          "properties": {
                            "start": {
                              "type": "string",
                              "description": "start"
                            },
                            "end": {
                              "type": "string",
                              "description": "end"
                            }
                          },
                          "description": "date"
                        }
                      },
                      "description": "Publishing/Release Date"
                    },
                    "Link": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "Link"
                    },
                    "Read": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "checkbox": {
                          "type": "boolean",
                          "description": "checkbox"
                        }
                      },
                      "description": "Read"
                    },
                    "Status": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "select": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Status"
                    },
                    "Author": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "multi_select": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "color": {
                                "type": "string",
                                "description": "color"
                              }
                            }
                          },
                          "description": "multi_select"
                        }
                      },
                      "description": "Author"
                    },
                    "Name": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "title": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "text": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "content"
                                  },
                                  "link": {
                                    "type": "string",
                                    "description": "link"
                                  }
                                },
                                "description": "text"
                              },
                              "annotations": {
                                "type": "object",
                                "properties": {
                                  "bold": {
                                    "type": "boolean",
                                    "description": "bold"
                                  },
                                  "italic": {
                                    "type": "boolean",
                                    "description": "italic"
                                  },
                                  "strikethrough": {
                                    "type": "boolean",
                                    "description": "strikethrough"
                                  },
                                  "underline": {
                                    "type": "boolean",
                                    "description": "underline"
                                  },
                                  "code": {
                                    "type": "boolean",
                                    "description": "code"
                                  },
                                  "color": {
                                    "type": "string",
                                    "description": "color"
                                  }
                                },
                                "description": "annotations"
                              },
                              "plain_text": {
                                "type": "string",
                                "description": "plain_text"
                              },
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            }
                          },
                          "description": "title"
                        }
                      },
                      "description": "Name"
                    }
                  },
                  "description": "properties"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pages/": {
      "post": {
        "summary": "Create a Page",
        "description": "Create a Page",
        "operationId": "CreateAPage",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " 2021-05-13",
            "description": "Notion-Version",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "parent": {
                  "type": "object",
                  "properties": {
                    "database_id": {
                      "type": "string",
                      "description": "database_id"
                    }
                  },
                  "description": "parent"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "object",
                      "properties": {
                        "select": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Type"
                    },
                    "Score /5": {
                      "type": "object",
                      "properties": {
                        "select": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Score /5"
                    },
                    "Name": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "content"
                                  }
                                },
                                "description": "text"
                              }
                            }
                          },
                          "description": "title"
                        }
                      },
                      "description": "Name"
                    },
                    "Status": {
                      "type": "object",
                      "properties": {
                        "select": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Status"
                    },
                    "Publisher": {
                      "type": "object",
                      "properties": {
                        "select": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Publisher"
                    },
                    "Publishing/Release Date": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "object",
                          "properties": {
                            "start": {
                              "type": "string",
                              "description": "start"
                            },
                            "end": {
                              "type": "string",
                              "description": "end"
                            }
                          },
                          "description": "date"
                        }
                      },
                      "description": "Publishing/Release Date"
                    },
                    "Link": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "Link"
                    },
                    "Summary": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "text": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "content"
                                  },
                                  "link": {
                                    "type": "string",
                                    "description": "link"
                                  }
                                },
                                "description": "text"
                              },
                              "annotations": {
                                "type": "object",
                                "properties": {
                                  "bold": {
                                    "type": "boolean",
                                    "description": "bold"
                                  },
                                  "italic": {
                                    "type": "boolean",
                                    "description": "italic"
                                  },
                                  "strikethrough": {
                                    "type": "boolean",
                                    "description": "strikethrough"
                                  },
                                  "underline": {
                                    "type": "boolean",
                                    "description": "underline"
                                  },
                                  "code": {
                                    "type": "boolean",
                                    "description": "code"
                                  },
                                  "color": {
                                    "type": "string",
                                    "description": "color"
                                  }
                                },
                                "description": "annotations"
                              },
                              "plain_text": {
                                "type": "string",
                                "description": "plain_text"
                              },
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            }
                          },
                          "description": "text"
                        }
                      },
                      "description": "Summary"
                    },
                    "Read": {
                      "type": "object",
                      "properties": {
                        "checkbox": {
                          "type": "boolean",
                          "description": "checkbox"
                        }
                      },
                      "description": "Read"
                    }
                  },
                  "description": "properties"
                }
              },
              "default": {
                "parent": {
                  "database_id": "{{DATABASE_ID}}"
                },
                "properties": {
                  "Type": {
                    "select": {
                      "id": "f96d0d0a-5564-4a20-ab15-5f040d49759e",
                      "name": "Article",
                      "color": "default"
                    }
                  },
                  "Score /5": {
                    "select": {
                      "id": "5c944de7-3f4b-4567-b3a1-fa2c71c540b6",
                      "name": "⭐️⭐️⭐️⭐️⭐️",
                      "color": "default"
                    }
                  },
                  "Name": {
                    "title": [
                      {
                        "text": {
                          "content": "New Media Article"
                        }
                      }
                    ]
                  },
                  "Status": {
                    "select": {
                      "id": "8c4a056e-6709-4dd1-ba58-d34d9480855a",
                      "name": "Ready to Start",
                      "color": "yellow"
                    }
                  },
                  "Publisher": {
                    "select": {
                      "id": "01f82d08-aa1f-4884-a4e0-3bc32f909ec4",
                      "name": "The Atlantic",
                      "color": "red"
                    }
                  },
                  "Publishing/Release Date": {
                    "date": {
                      "start": "2020-12-08T12:00:00Z",
                      "end": null
                    }
                  },
                  "Link": {
                    "url": "https://www.nytimes.com/2018/10/21/opinion/who-will-teach-silicon-valley-to-be-ethical.html"
                  },
                  "Summary": {
                    "text": [
                      {
                        "type": "text",
                        "text": {
                          "content": "Some think chief ethics officers could help technology companies navigate political and social questions.",
                          "link": null
                        },
                        "annotations": {
                          "bold": false,
                          "italic": false,
                          "strikethrough": false,
                          "underline": false,
                          "code": false,
                          "color": "default"
                        },
                        "plain_text": "Some think chief ethics officers could help technology companies navigate political and social questions.",
                        "href": null
                      }
                    ]
                  },
                  "Read": {
                    "checkbox": false
                  }
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "object"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "created_time": {
                  "type": "string",
                  "description": "created_time"
                },
                "last_edited_time": {
                  "type": "string",
                  "description": "last_edited_time"
                },
                "parent": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "type"
                    },
                    "database_id": {
                      "type": "string",
                      "description": "database_id"
                    }
                  },
                  "description": "parent"
                },
                "archived": {
                  "type": "boolean",
                  "description": "archived"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "Score /5": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "select": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Score /5"
                    },
                    "Type": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "select": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Type"
                    },
                    "Publisher": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "select": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Publisher"
                    },
                    "Summary": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "rich_text": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "text": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "content"
                                  },
                                  "link": {
                                    "type": "string",
                                    "description": "link"
                                  }
                                },
                                "description": "text"
                              },
                              "annotations": {
                                "type": "object",
                                "properties": {
                                  "bold": {
                                    "type": "boolean",
                                    "description": "bold"
                                  },
                                  "italic": {
                                    "type": "boolean",
                                    "description": "italic"
                                  },
                                  "strikethrough": {
                                    "type": "boolean",
                                    "description": "strikethrough"
                                  },
                                  "underline": {
                                    "type": "boolean",
                                    "description": "underline"
                                  },
                                  "code": {
                                    "type": "boolean",
                                    "description": "code"
                                  },
                                  "color": {
                                    "type": "string",
                                    "description": "color"
                                  }
                                },
                                "description": "annotations"
                              },
                              "plain_text": {
                                "type": "string",
                                "description": "plain_text"
                              },
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            }
                          },
                          "description": "rich_text"
                        }
                      },
                      "description": "Summary"
                    },
                    "Publishing/Release Date": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "date": {
                          "type": "object",
                          "properties": {
                            "start": {
                              "type": "string",
                              "description": "start"
                            },
                            "end": {
                              "type": "string",
                              "description": "end"
                            }
                          },
                          "description": "date"
                        }
                      },
                      "description": "Publishing/Release Date"
                    },
                    "Link": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "Link"
                    },
                    "Read": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "checkbox": {
                          "type": "boolean",
                          "description": "checkbox"
                        }
                      },
                      "description": "Read"
                    },
                    "Status": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "select": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          },
                          "description": "select"
                        }
                      },
                      "description": "Status"
                    },
                    "Author": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "multi_select": {
                          "type": "array",
                          "items": {},
                          "description": "multi_select"
                        }
                      },
                      "description": "Author"
                    },
                    "Name": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "title": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "text": {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "type": "string",
                                    "description": "content"
                                  },
                                  "link": {
                                    "type": "string",
                                    "description": "link"
                                  }
                                },
                                "description": "text"
                              },
                              "annotations": {
                                "type": "object",
                                "properties": {
                                  "bold": {
                                    "type": "boolean",
                                    "description": "bold"
                                  },
                                  "italic": {
                                    "type": "boolean",
                                    "description": "italic"
                                  },
                                  "strikethrough": {
                                    "type": "boolean",
                                    "description": "strikethrough"
                                  },
                                  "underline": {
                                    "type": "boolean",
                                    "description": "underline"
                                  },
                                  "code": {
                                    "type": "boolean",
                                    "description": "code"
                                  },
                                  "color": {
                                    "type": "string",
                                    "description": "color"
                                  }
                                },
                                "description": "annotations"
                              },
                              "plain_text": {
                                "type": "string",
                                "description": "plain_text"
                              },
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            }
                          },
                          "description": "title"
                        }
                      },
                      "description": "Name"
                    }
                  },
                  "description": "properties"
                }
              }
            }
          }
        }
      }
    },
    "/v1/search": {
      "post": {
        "summary": "Search",
        "description": "Search",
        "operationId": "Search",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " 2021-05-13",
            "description": "Notion-Version",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "query"
                },
                "sort": {
                  "type": "object",
                  "properties": {
                    "direction": {
                      "type": "string",
                      "description": "direction"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "timestamp"
                    }
                  },
                  "description": "sort"
                }
              },
              "default": {
                "query": "Media Article",
                "sort": {
                  "direction": "ascending",
                  "timestamp": "last_edited_time"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "object"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "object": {
                        "type": "string",
                        "description": "object"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "created_time": {
                        "type": "string",
                        "description": "created_time"
                      },
                      "last_edited_time": {
                        "type": "string",
                        "description": "last_edited_time"
                      },
                      "parent": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "database_id": {
                            "type": "string",
                            "description": "database_id"
                          }
                        },
                        "description": "parent"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "archived"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "Score /5": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "select": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  },
                                  "color": {
                                    "type": "string",
                                    "description": "color"
                                  }
                                },
                                "description": "select"
                              }
                            },
                            "description": "Score /5"
                          },
                          "Type": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "select": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  },
                                  "color": {
                                    "type": "string",
                                    "description": "color"
                                  }
                                },
                                "description": "select"
                              }
                            },
                            "description": "Type"
                          },
                          "Publisher": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "select": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  },
                                  "color": {
                                    "type": "string",
                                    "description": "color"
                                  }
                                },
                                "description": "select"
                              }
                            },
                            "description": "Publisher"
                          },
                          "Summary": {
                            "type": "object",
                            "properties": {
                              "id": {
[...]
